@{
    ViewBag.Title = "Dashboard";
}

<div id="outer" class="text-center vertical-center">
    <div id="inner" class="col">
        <h1 class="mb-2 display-4">Welcome!</h1>
        <blockquote class="blockquote">
            <p class="mb-2">Thought is the wind, knowledge the sail, and mankind the vessel.</p>
            <footer class="blockquote-footer"><cite title="Source Title">Augustus Hare</cite></footer>
        </blockquote>
    </div>
</div>